In [1]:
import pandas as pd # install pandas

In [8]:
df = pd.read_csv(r"C:\Jahid\Data Analyst Bootcamp\companies.csv")  #copy a csv file path to work on
df # assign it to dataframe

,Rank,Company Name,Revenue ($M),Assets ($M),Market Value ($M)
0,1,Walmart,"$680,985","$260,823","$703,799"
1,2,Amazon,"$637,959","$624,894","$2,016,324"
2,3,UnitedHealth Group,"$400,278","$298,278","$479,081"
3,4,Apple,"$391,035","$364,980","$3,336,853"
4,5,CVS Health,"$372,809","$253,215","$85,419"
...,...,...,...,...,...
495,496,Science Applications International,"$7,479","$5,246","$5,360"
496,497,Core & Main,"$7,441","$5,870","$9,560"
497,498,Howmet Aerospace,"$7,430","$10,519","$52,544"
498,498,Ingredion,"$7,430","$7,444","$8,679"
499,500,Vulcan Materials,"$7,418","$17,105","$30,819"

In [9]:
df = pd.read_table(r"C:\Jahid\Data Analyst Bootcamp\companies.csv", sep = ',')

In [11]:
df

    Rank,Company Name ,Revenue ($M),Assets ($M),Market Value ($M)
0           1,Walmart,"$680,985","$260,823","$703,799"
1          2,Amazon,"$637,959","$624,894","$2,016,324"
2    3,UnitedHealth Group,"$400,278","$298,278","$4...
3           4,Apple,"$391,035","$364,980","$3,336,853"
4         5,CVS Health,"$372,809","$253,215","$85,419"
..                                                 ...
495  496,Science Applications International,"$7,479...
496         497,Core & Main,"$7,441","$5,870","$9,560"
497  498,Howmet Aerospace,"$7,430","$10,519","$52,544"
498           498,Ingredion,"$7,430","$7,444","$8,679"
499  500,Vulcan Materials,"$7,418","$17,105","$30,819"

[500 rows x 1 columns]

In [14]:
df = pd.read_csv(r"C:\Jahid\Data Analyst Bootcamp\companies.csv") 
df

,Rank,Company Name,Revenue ($M),Assets ($M),Market Value ($M)
0,1,Walmart,"$680,985","$260,823","$703,799"
1,2,Amazon,"$637,959","$624,894","$2,016,324"
2,3,UnitedHealth Group,"$400,278","$298,278","$479,081"
3,4,Apple,"$391,035","$364,980","$3,336,853"
4,5,CVS Health,"$372,809","$253,215","$85,419"
5,6,Berkshire Hathaway,"$371,433","$1,153,881","$1,148,720"
6,7,Alphabet,"$350,018","$450,256","$1,894,486"
7,8,Exxon Mobil,"$349,585","$453,475","$516,054"
8,9,McKesson,"$308,951","$67,443","$84,343"
9,10,Cencora,"$293,959","$67,102","$53,870"
10,11,JPMorgan Chase,"$278,906","$4,002,814","$685,885"
11,12,Costco Wholesale,"$254,453","$69,831","$419,627"
12,13,Cigna,"$247,121","$155,881","$89,195"
13,14,Microsoft,"$245,122","$512,163","$2,790,643"
14,15,Cardinal Health,"$226,827","$45,121","$33,281"
15,16,Chevron,"$202,792","$256,938","$292,710"
16,17,Bank of America,"$192,434","$3,261,519","$317,265"
17,18,General Motors,"$187,442","$279,761","$46,795"
18,19,Ford Motor,"$184,992","$285,196","$39,885"
19,20,Elevance Health,"$177,011","$116,889","$98,469"
20,21,Citigroup,"$170,757","$2,352,945","$133,615"
21,22,Meta Platforms,"$164,501","$276,054","$1,460,300"
22,23,Centene,"$163,071","$82,445","$30,116"
23,24,Home Depot,"$159,514","$96,119","$364,303"
24,25,Fannie Mae,"$152,670","$4,349,731","$7,319"
25,26,Walgreens Boots Alliance,"$147,658","$81,037","$9,659"
26,27,Kroger,"$147,123","$52,616","$44,540"
27,28,Phillips 66,"$145,496","$72,582","$50,343"
28,29,Marathon Petroleum,"$140,412","$78,858","$45,387"
29,30,Verizon Communications,"$134,788","$384,711","$190,952"
30,31,Nvidia,"$130,497","$111,601","$2,644,472"
31,32,Goldman Sachs Group,"$126,853","$1,675,972","$176,092"
32,33,Wells Fargo,"$125,397","$1,929,845","$234,406"
33,34,Valero Energy,"$123,974","$60,143","$41,531"
34,35,Comcast,"$123,731","$266,211","$139,520"
35,36,State Farm Insurance,"$122,951","$367,414",-
36,37,AT&T,"$122,336","$394,795","$202,999"
37,38,Freddie Mac,"$122,052","$3,386,692","$3,478"
38,39,Humana,"$117,761","$46,479","$31,935"
39,40,Morgan Stanley,"$107,285","$1,215,071","$188,172"
40,41,Target,"$106,566","$57,769","$47,544"
41,42,StoneX Group,"$99,888","$27,466","$3,676"
42,43,Tesla,"$97,690","$122,070","$833,593"
43,44,Dell Technologies,"$95,567","$79,746","$63,608"
44,45,PepsiCo,"$91,854","$99,467","$205,615"
45,46,Walt Disney,"$91,361","$196,219","$178,429"
46,47,United Parcel Service,"$91,070","$70,070","$93,220"
47,48,Johnson & Johnson,"$88,821","$180,104","$399,649"
48,49,FedEx,"$87,693","$87,007","$58,409"
49,50,Archer Daniels Midland,"$85,530","$53,271","$23,052"
50,51,Procter & Gamble,"$84,039","$122,370","$399,610"
51,52,Lowe's,"$83,674","$43,102","$130,540"
52,53,Energy Transfer,"$82,671","$125,380","$63,786"
53,54,RTX,"$80,738","$162,861","$176,846"
54,55,Albertsons,"$79,238","$26,221","$12,741"
55,56,Sysco,"$78,844","$24,917","$36,712"
56,57,Progressive,"$75,372","$105,745","$165,911"
57,58,American Express,"$74,201","$271,461","$188,634"
58,59,Lockheed Martin,"$71,043","$55,617","$104,786"
59,60,MetLife,"$70,986","$677,457","$54,696"
60,61,HCA Healthcare,"$70,603","$59,513","$85,076"
61,62,Prudential Financial,"$70,405","$735,587","$39,582"
62,63,Boeing,"$66,517","$156,363","$128,323"
63,64,Caterpillar,"$64,809","$87,764","$157,622"
64,65,Merck,"$64,168","$117,106","$226,737"
65,66,Allstate,"$64,106","$111,617","$54,879"
66,67,Pfizer,"$63,627","$213,396","$143,715"
67,68,IBM,"$62,753","$137,175","$230,574"
68,69,New York Life Insurance,"$62,639","$431,944",-
69,70,Delta Air Lines,"$61,643","$75,372","$28,164"
70,71,Publix Super Markets,"$60,177","$37,601",-
71,72,Nationwide,"$58,646","$307,071",-
72,73,TD Synnex,"$58,452","$30,275","$8,651"
73,74,United Airlines Holdings,"$57,063","$74,083","$22,603"
74,75,ConocoPhillips,"$56,953","$122,780","$132,763"
75,76,TJX,"$56,360","$31,749","$136,922"
76,77,AbbVie,"$56,334","$135,161","$370,636"
77,78,Enterprise Products Partners,"$56,219","$77,168","$73,937"
78,79,Charter Communications,"$55,085","$150,020","$58,407"
79,80,Performance Food Group,"$54,681","$13,393","$12,283"
80,81,American Airlines Group,"$54,211","$61,783","$6,937"
81,82,Capital One Financial,"$53,938","$490,144","$68,665"
82,83,Cisco Systems,"$53,803","$124,413","$245,500"
83,84,HP,"$53,559","$39,909","$26,103"
84,85,Tyson Foods,"$53,309","$37,100","$22,729"
85,86,Intel,"$53,101","$196,485","$99,029"
86,87,Oracle,"$52,961","$140,976","$392,060"
87,88,Broadcom,"$52,432","$165,645","$787,244"
88,89,Deere,"$51,716","$107,320","$127,388"
89,90,Nike,"$51,362","$38,110","$93,895"
90,91,Liberty Mutual Insurance Group,"$50,429","$166,695",-
91,92,Plains GP Holdings,"$50,073","$27,756","$4,224"
92,93,USAA,"$48,560","$220,583",-
93,94,Bristol-Myers Squibb,"$48,300","$92,603","$124,100"
94,95,Ingram Micro Holding,"$47,984","$18,780","$4,166"
95,96,General Dynamics,"$47,716","$55,880","$73,156"
96,97,Coca-Cola,"$47,061","$100,549","$308,222"
97,98,TIAA,"$46,946","$655,708",-
98,99,Travelers,"$46,423","$133,189","$59,960"
99,100,Eli Lilly,"$45,043","$78,715","$782,954"
100,101,Uber Technologies,"$43,978","$51,244","$152,369"
101,102,Massachusetts Mutual Life Insurance,"$43,072","$422,114",-
102,103,Dow,"$42,964","$57,312","$24,645"
103,104,Thermo Fisher Scientific,"$42,879","$97,321","$187,725"
104,105,U.S. Bancorp,"$42,712","$678,318","$65,779"
105,106,World Kinect,"$42,168","$6,732","$1,609"
106,107,Abbott Laboratories,"$41,950","$81,414","$230,058"
107,108,Best Buy,"$41,528","$14,782","$15,559"
108,109,Northwestern Mutual,"$41,445","$378,324",-
109,110,Northrop Grumman,"$41,033","$49,359","$74,116"
110,111,Molina Healthcare,"$40,650","$15,630","$18,018"
111,112,Dollar General,"$40,612","$31,133","$19,340"
112,113,Bank of New York (BNY),"$39,914","$416,064","$60,217"
113,114,Warner Bros. Discovery,"$39,321","$104,560","$26,340"
114,115,CHS,"$39,261","$18,715",-
115,116,Netflix,"$39,001","$53,630","$398,896"
116,117,Qualcomm,"$38,962","$55,154","$169,893"
117,118,General Electric (GE Aerospace),"$38,702","$123,140","$213,476"
118,119,Honeywell International,"$38,498","$75,196","$137,377"
119,120,Salesforce,"$37,895","$102,928","$257,894"
120,121,Philip Morris International,"$37,878","$61,784","$247,061"
121,122,US Foods Holding,"$37,877","$13,436","$15,081"
122,123,D.R. Horton,"$36,801","$36,104","$40,062"
123,124,Lithia Motors,"$36,611","$23,128","$7,712"
124,125,Mondelez International,"$36,441","$68,497","$87,766"
125,126,Starbucks,"$36,176","$31,339","$111,420"
126,127,Visa,"$35,926","$94,511","$685,905"
127,128,CBRE Group,"$35,767","$24,383","$39,239"
128,129,Lennar,"$35,442","$41,313","$30,161"
129,130,GE Vernova,"$34,935","$51,485","$83,447"
130,131,PNC Financial Services Group,"$34,440","$560,038","$69,561"
131,132,Cummins,"$34,102","$31,540","$43,174"
132,133,Paccar,"$33,664","$43,419","$51,113"
133,134,Amgen,"$33,424","$91,839","$167,366"
134,135,PBF Energy,"$33,115","$12,703","$2,208"
135,136,GuideWell Mutual Holding,"$32,955","$20,238",-
136,137,PayPal Holdings,"$31,797","$81,611","$64,548"
137,138,United Natural Foods,"$30,980","$7,528","$1,658"
138,139,Dollar Tree,"$30,846","$18,644","$16,146"
139,140,Nucor,"$30,734","$33,940","$27,768"
140,141,Penske Automotive Group,"$30,455","$16,721","$9,610"
141,142,Coupang,"$30,268","$15,344","$39,594"
142,143,Hewlett Packard Enterprise,"$30,127","$71,262","$20,269"
143,144,Duke Energy,"$29,938","$186,343","$94,773"
144,145,KKR,"$29,880","$360,099","$102,691"
145,146,Ferguson Enterprises,"$29,635","$16,572","$31,838"
146,147,Paramount Global,"$29,213","$46,172","$8,461"
147,148,Jabil,"$28,883","$17,351","$14,856"
148,149,Gilead Sciences,"$28,754","$58,995","$139,685"
149,150,HF Sinclair,"$28,580","$16,643","$6,195"
150,151,CarMax,"$28,213","$27,197","$11,984"
151,152,Mastercard,"$28,167","$48,081","$499,726"
152,153,NRG Energy,"$28,130","$24,022","$19,442"
153,154,Arrow Electronics,"$27,923","$21,758","$5,385"
154,155,Baker Hughes,"$27,829","$38,363","$43,526"
155,156,Southwest Airlines,"$27,483","$33,750","$19,902"
156,157,AIG,"$27,251","$161,322","$51,584"
157,158,Applied Materials,"$27,176","$34,409","$117,901"
158,159,Occidental Petroleum,"$26,880","$85,445","$46,388"
159,160,AutoNation,"$26,765","$13,002","$6,355"
160,161,Southern,"$26,724","$145,180","$100,652"
161,162,Hartford Insurance Group,"$26,535","$80,917","$35,311"
162,163,Apollo Global Management,"$26,262","$377,895","$78,122"
163,164,Charles Schwab,"$25,999","$479,843","$145,950"
164,165,McDonald's,"$25,920","$55,182","$223,176"
165,166,Kraft Heinz,"$25,846","$88,287","$36,315"
166,167,Advanced Micro Devices,"$25,785","$69,226","$166,058"
167,168,Truist Financial,"$25,612","$531,176","$53,717"
168,169,Freeport-McMoRan,"$25,455","$54,848","$54,408"
169,170,Micron Technology,"$25,111","$69,416","$97,106"
170,171,Marriott International,"$25,100","$26,182","$65,594"
171,172,Carrier Global,"$24,809","$37,403","$54,777"
172,173,NextEra Energy,"$24,753","$190,144","$145,823"
173,174,3M,"$24,575","$39,868","$79,204"
174,175,Marsh & McLennan,"$24,458","$56,481","$120,283"
175,176,PG&E,"$24,419","$133,660","$37,686"
176,177,Union Pacific,"$24,250","$67,715","$141,583"
177,178,Synchrony Financial,"$24,166","$119,463","$20,580"
178,179,Block,"$24,121","$36,778","$33,656"
179,180,Danaher,"$23,875","$77,542","$146,667"
180,181,Avnet,"$23,757","$12,209","$4,160"
181,182,Booking Holdings,"$23,739","$27,708","$151,177"
182,183,EOG Resources,"$23,698","$47,186","$70,730"
183,184,Quanta Services,"$23,673","$18,684","$37,669"
184,185,Discover,"$23,634","$147,640","$42,949"
185,186,Constellation Energy,"$23,568","$52,926","$63,173"
186,187,Genuine Parts,"$23,487","$19,283","$16,535"
187,188,Jones Lang LaSalle,"$23,433","$16,764","$11,749"
188,189,Lear,"$23,306","$14,028","$4,732"
189,190,Live Nation Entertainment,"$23,156","$19,639","$30,478"
190,191,Sherwin-Williams,"$23,099","$23,633","$87,825"
191,192,Exelon,"$23,028","$107,784","$46,519"
192,193,Macy's,"$23,006","$16,402","$3,488"
193,194,Halliburton,"$22,944","$25,587","$22,024"
194,195,Stryker,"$22,595","$42,971","$142,084"
195,196,Reinsurance Group of America,"$22,107","$118,675","$13,000"
196,197,Waste Management,"$22,063","$44,567","$93,094"
197,198,State Street,"$22,054","$353,240","$25,827"
198,199,WESCO International,"$21,819","$15,061","$7,578"
199,200,Oneok,"$21,698","$64,069","$61,947"
200,201,Adobe,"$21,505","$30,230","$163,461"
201,202,American Family Insurance Group,"$21,339","$42,183",-
202,203,L3Harris Technologies,"$21,325","$42,001","$39,291"
203,204,Ross Stores,"$21,129","$14,905","$42,162"
204,205,CDW,"$20,999","$14,678","$21,233"
205,206,Tenet Healthcare,"$20,665","$28,936","$12,794"
206,207,BJ's Wholesale Club,"$20,502","$7,065","$15,024"
207,208,Fiserv,"$20,456","$77,176","$123,949"
208,209,Altria Group,"$20,444","$35,177","$101,474"
209,210,BlackRock,"$20,407","$138,615","$146,944"
210,211,Becton Dickinson,"$20,178","$57,286","$65,771"
211,212,Colgate-Palmolive,"$20,101","$16,046","$75,999"
212,213,Kimberly-Clark,"$20,058","$16,546","$47,168"
213,214,Group 1 Automotive,"$19,934","$9,824","$4,981"
214,215,Parker-Hannifin,"$19,930","$29,298","$78,270"
215,216,General Mills,"$19,857","$31,470","$32,741"
216,217,Cognizant Technology Solutions,"$19,736","$19,966","$37,838"
217,218,American Electric Power,"$19,721","$103,078","$58,349"
218,219,GE HealthCare Technologies,"$19,672","$33,089","$36,909"
219,220,Automatic Data Processing,"$19,203","$54,363","$124,311"
220,221,Cleveland-Cliffs,"$19,185","$20,947","$4,065"
221,222,Aflac,"$18,927","$117,566","$60,689"
222,223,Goodyear Tire & Rubber,"$18,878","$20,964","$2,635"
223,224,Corebridge Financial,"$18,781","$389,397","$17,553"
224,225,Newmont,"$18,682","$56,349","$54,424"
225,226,International Paper,"$18,619","$22,800","$28,069"
226,227,AutoZone,"$18,490","$17,177","$63,783"
227,228,Lincoln National,"$18,442","$390,831","$6,119"
228,229,PulteGroup,"$17,947","$17,364","$20,723"
229,230,Ameriprise Financial,"$17,926","$181,403","$46,385"
230,231,Murphy USA,"$17,909","$4,542","$9,300"
231,232,ManpowerGroup,"$17,854","$8,201","$2,705"
232,233,C.H. Robinson Worldwide,"$17,725","$5,298","$12,106"
233,234,PPG Industries,"$17,723","$19,433","$24,820"
234,235,Edison International,"$17,599","$85,579","$22,686"
235,236,Steel Dynamics,"$17,540","$14,935","$18,749"
236,237,Loews,"$17,510","$81,943","$19,564"
237,238,Emerson Electric,"$17,492","$44,246","$61,826"
238,239,Aramark,"$17,401","$12,674","$9,151"
239,240,MGM Resorts International,"$17,241","$42,232","$8,387"
240,241,Vistra,"$17,224","$37,770","$39,948"
241,242,Asbury Automotive Group,"$17,189","$10,337","$4,339"
242,243,W.W. Grainger,"$17,168","$8,829","$47,585"
243,244,Global Partners,"$17,164","$3,788","$1,815"
244,245,Jacobs Solutions,"$16,974","$11,759","$14,814"
245,246,Corteva,"$16,908","$40,825","$42,982"
246,247,Peter Kiewit Sons',"$16,838","$11,481",-
247,248,Boston Scientific,"$16,747","$39,395","$149,209"
248,249,O'Reilly Automotive,"$16,709","$14,894","$82,002"
249,250,Leidos Holdings,"$16,662","$13,104","$17,301"
250,251,Markel Group,"$16,621","$61,898","$23,875"
251,252,Whirlpool,"$16,607","$16,301","$4,992"
252,253,Guardian Life Ins. Co. of America,"$16,471","$98,630",-
253,254,Builders FirstSource,"$16,401","$10,583","$14,196"
254,255,Ally Financial,"$16,389","$191,836","$11,201"
255,256,Targa Resources,"$16,382","$22,734","$43,619"
256,257,Fluor,"$16,315","$9,143","$6,019"
257,258,Intuit,"$16,285","$32,132","$171,648"
258,259,AECOM,"$16,284","$12,062","$12,304"
259,260,Jones Financial (Edward Jones),"$16,257","$28,964",-
260,261,Kohl's,"$16,221","$13,559",$911
261,262,Land O'Lakes,"$16,207","$9,525",-
262,263,Principal Financial,"$16,128","$313,664","$19,032"
263,264,Dominion Energy,"$16,070","$102,415","$47,784"
264,265,Kyndryl Holdings,"$16,052","$10,590","$7,307"
265,266,Republic Services,"$16,032","$32,402","$75,623"
266,267,Devon Energy,"$15,940","$30,489","$24,273"
267,268,Illinois Tool Works,"$15,898","$15,067","$72,758"
268,269,Northern Trust,"$15,876","$155,508","$19,234"
269,270,Auto-Owners Insurance,"$15,839","$39,575",-
270,271,Universal Health Services,"$15,828","$14,470","$12,214"
271,272,Pacific Life,"$15,827","$238,905",-
272,273,EchoStar,"$15,826","$60,939","$7,330"
273,274,Ecolab,"$15,741","$22,388","$71,907"
274,275,Cheniere Energy,"$15,703","$43,858","$51,756"
275,276,Omnicom Group,"$15,689","$29,621","$16,298"
276,277,Texas Instruments,"$15,641","$35,509","$163,512"
277,278,United States Steel,"$15,640","$20,235","$9,568"
278,279,Estee Lauder,"$15,608","$21,677","$23,741"
279,280,Farmers Insurance Exchange,"$15,456","$25,493",-
280,281,Kenvue,"$15,455","$25,601","$45,832"
281,282,IQVIA Holdings,"$15,405","$26,899","$31,084"
282,283,Stanley Black & Decker,"$15,366","$21,849","$11,881"
283,284,Keurig Dr Pepper,"$15,351","$53,430","$46,428"
284,285,United Rentals,"$15,345","$28,163","$40,944"
285,286,Consolidated Edison,"$15,256","$70,562","$39,046"
286,287,Amphenol,"$15,223","$21,440","$79,481"
287,288,Baxter International,"$15,149","$25,782","$17,557"
288,289,Kinder Morgan,"$15,100","$71,407","$63,393"
289,290,Gap,"$15,086","$11,885","$7,727"
290,291,Nordstrom,"$15,016","$8,966","$4,081"
291,292,Super Micro Computer,"$14,989","$9,826","$20,321"
292,293,First Citizens BancShares,"$14,968","$223,720","$24,891"
293,294,Raymond James Financial,"$14,923","$82,992","$28,464"
294,295,Lam Research,"$14,905","$18,745","$93,322"
295,296,Tractor Supply,"$14,883","$9,806","$29,292"
296,297,Casey's General Stores,"$14,863","$6,347","$16,111"
297,298,Viatris,"$14,739","$41,501","$10,397"
298,299,Mutual of Omaha,"$14,622","$55,398",-
299,300,EMCOR Group,"$14,566","$7,717","$16,808"
300,301,CSX,"$14,540","$42,764","$55,468"
301,302,LKQ,"$14,355","$14,955","$10,999"
302,303,Otis Worldwide,"$14,261","$11,316","$40,921"
303,304,Sonic Automotive,"$14,224","$5,896","$1,929"
304,305,S&P Global,"$14,208","$60,221","$159,462"
305,306,Regeneron Pharmaceuticals,"$14,202","$37,759","$69,337"
306,307,BorgWarner,"$14,086","$13,993","$6,294"
307,308,Fox,"$13,980","$21,972","$24,748"
308,309,Reliance,"$13,835","$10,022","$15,296"
309,310,Western & Southern Financial Group,"$13,769","$81,188",-
310,311,Textron,"$13,702","$16,838","$13,122"
311,312,Expedia Group,"$13,691","$22,388","$21,661"
312,313,Fidelity National Financial,"$13,681","$95,372","$17,896"
313,314,Carvana,"$13,673","$8,484","$42,811"
314,315,DXC Technology,"$13,667","$13,871","$3,087"
315,316,W.R. Berkley,"$13,639","$40,567","$26,986"
316,317,M&T Bank,"$13,453","$208,105","$29,367"
317,318,Dick's Sporting Goods,"$13,443","$10,459","$16,096"
318,319,Xcel Energy,"$13,441","$70,035","$40,673"
319,320,Fifth Third Bancorp,"$13,275","$212,927","$26,190"
320,321,Blackstone,"$13,230","$43,470","$101,958"
321,322,Sempra,"$13,185","$96,155","$46,521"
322,323,Erie Insurance Group,"$13,177","$30,023",-
323,324,Corning,"$13,118","$27,735","$39,223"
324,325,Lumen Technologies,"$13,108","$33,496","$4,018"
325,326,FirstEnergy,"$13,043","$52,044","$23,310"
326,327,Hess,"$13,018","$26,551","$49,243"
327,328,Labcorp Holdings,"$13,009","$18,379","$19,480"
328,329,Western Digital,"$13,003","$24,188","$14,063"
329,330,Unum Group,"$12,887","$61,959","$14,400"
330,331,DaVita,"$12,816","$17,285","$12,238"
331,332,Kellanova,"$12,749","$15,628","$28,477"
332,333,Henry Schein,"$12,673","$10,218","$8,505"
333,334,Ryder System,"$12,636","$16,672","$6,003"
334,335,Community Health Systems,"$12,634","$14,054",$379
335,336,Delek US Holdings,"$12,464","$6,666",$932
336,337,DTE Energy,"$12,457","$48,846","$28,694"
337,338,Equitable Holdings,"$12,437","$295,866","$15,983"
338,339,DuPont,"$12,386","$36,636","$31,220"
339,340,LPL Financial Holdings,"$12,385","$13,317","$24,399"
340,341,Citizens Financial Group,"$12,362","$217,521","$17,909"
341,342,MasTec,"$12,304","$8,975","$9,254"
342,343,AES,"$12,278","$47,406","$8,842"
343,344,Berry Global Group,"$12,258","$16,613","$8,084"
344,345,Westlake,"$12,142","$20,750","$12,853"
345,346,Norfolk Southern,"$12,123","$43,682","$58,397"
346,347,Air Products & Chemicals,"$12,101","$39,575","$65,613"
347,348,J.B. Hunt Transport Services,"$12,087","$8,312","$14,796"
348,349,Ball,"$12,056","$17,628","$14,704"
349,350,Conagra Brands,"$12,051","$20,862","$12,730"
350,351,Huntington Bancshares,"$11,961","$204,230","$21,926"
351,352,Hormel Foods,"$11,921","$13,435","$17,014"
352,353,Eversource Energy,"$11,901","$59,595","$22,800"
353,354,Alcoa,"$11,895","$14,064","$7,896"
354,355,Entergy,"$11,880","$64,790","$38,158"
355,356,Assurant,"$11,878","$35,021","$10,654"
356,357,Chewy,"$11,861","$3,015","$13,447"
357,358,Wayfair,"$11,851","$3,459","$4,065"
358,359,Crown Holdings,"$11,801","$13,848","$10,440"
359,360,Avis Budget Group,"$11,789","$29,041","$2,671"
360,361,Intercontinental Exchange,"$11,761","$139,428","$99,101"
361,362,Alaska Air Group,"$11,735","$19,768","$6,042"
362,363,GXO Logistics,"$11,709","$11,266","$4,671"
363,364,AGCO,"$11,662","$11,191","$6,904"
364,365,Graybar Electric,"$11,646","$4,307",-
365,366,Molson Coors Beverage,"$11,627","$26,064","$12,320"
366,367,Arthur J. Gallagher,"$11,555","$64,255","$88,290"
367,368,Huntington Ingalls Industries,"$11,535","$12,141","$8,006"
368,369,International Flavors & Fragrances,"$11,484","$28,667","$19,848"
369,370,Darden Restaurants,"$11,390","$11,323","$24,338"
370,371,Cincinnati Financial,"$11,338","$36,501","$23,128"
371,372,Chipotle Mexican Grill,"$11,314","$9,204","$68,052"
372,373,Yum China Holdings,"$11,303","$11,121","$19,522"
373,374,Las Vegas Sands,"$11,298","$20,666","$27,657"
374,375,Ulta Beauty,"$11,296","$6,002","$16,608"
375,376,Caesars Entertainment,"$11,270","$32,590","$5,300"
376,377,BrightSpring Health Services,"$11,267","$5,926","$3,165"
377,378,Andersons,"$11,258","$4,121","$1,468"
378,379,Hershey,"$11,202","$12,947","$34,644"
379,380,Hilton Worldwide Holdings,"$11,174","$16,522","$54,524"
380,381,Mosaic,"$11,123","$22,924","$8,561"
381,382,Airbnb,"$11,102","$20,959","$75,324"

In [13]:
pd.set_option('display.max.rows', 501)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               500 non-null    int64
 1   Company Name       500 non-null    object
 2   Revenue ($M)       500 non-null    object
 3   Assets ($M)        500 non-null    object
 4   Market Value ($M)  500 non-null    object
dtypes: int64(1), object(4)
memory usage: 19.7+ KB

In [17]:
df.shape

(500, 5)

In [18]:
df.head(10) # first ten rows

   Rank       Company Name  Revenue ($M) Assets ($M) Market Value ($M)
0     1             Walmart     $680,985    $260,823          $703,799
1     2              Amazon     $637,959    $624,894        $2,016,324
2     3  UnitedHealth Group     $400,278    $298,278          $479,081
3     4               Apple     $391,035    $364,980        $3,336,853
4     5          CVS Health     $372,809    $253,215           $85,419
5     6  Berkshire Hathaway     $371,433  $1,153,881        $1,148,720
6     7            Alphabet     $350,018    $450,256        $1,894,486
7     8         Exxon Mobil     $349,585    $453,475          $516,054
8     9            McKesson     $308,951     $67,443           $84,343
9    10             Cencora     $293,959     $67,102           $53,870

In [19]:
df.tail(10) # last ten rows

,Rank,Company Name,Revenue ($M),Assets ($M),Market Value ($M)
490,491,Yum Brands,"$7,549","$6,727","$43,920"
491,492,Fastenal,"$7,546","$4,698","$44,471"
492,493,CMS Energy,"$7,515","$35,920","$22,467"
493,494,Monster Beverage,"$7,493","$7,719","$56,949"
494,495,Endeavor Group Holdings,"$7,483","$20,566",-
495,496,Science Applications International,"$7,479","$5,246","$5,360"
496,497,Core & Main,"$7,441","$5,870","$9,560"
497,498,Howmet Aerospace,"$7,430","$10,519","$52,544"
498,498,Ingredion,"$7,430","$7,444","$8,679"
499,500,Vulcan Materials,"$7,418","$17,105","$30,819"

In [23]:
df['Rank']

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
30      31
31      32
32      33
33      34
34      35
35      36
36      37
37      38
38      39
39      40
40      41
41      42
42      43
43      44
44      45
45      46
46      47
47      48
48      49
49      50
50      51
51      52
52      53
53      54
54      55
55      56
56      57
57      58
58      59
59      60
60      61
61      62
62      63
63      64
64      65
65      66
66      67
67      68
68      69
69      70
70      71
71      72
72      73
73      74
74      75
75      76
76      77
77      78
78      79
79      80
80      81
81      82
82      83
83      84
84      85
85      86
86      87
87      88
88      89
89      90
90      91
91      92
92      93
93      94
94      95
95      96
96      97
97      98
98      99
99     100
100    101
101    102
102    103
103    104
104    105
105    106
106    107
107    108
108    109
109    110
110    111
111    112
112    113
113    114
114    115
115    116
116    117
117    118
118    119
119    120
120    121
121    122
122    123
123    124
124    125
125    126
126    127
127    128
128    129
129    130
130    131
131    132
132    133
133    134
134    135
135    136
136    137
137    138
138    139
139    140
140    141
141    142
142    143
143    144
144    145
145    146
146    147
147    148
148    149
149    150
150    151
151    152
152    153
153    154
154    155
155    156
156    157
157    158
158    159
159    160
160    161
161    162
162    163
163    164
164    165
165    166
166    167
167    168
168    169
169    170
170    171
171    172
172    173
173    174
174    175
175    176
176    177
177    178
178    179
179    180
180    181
181    182
182    183
183    184
184    185
185    186
186    187
187    188
188    189
189    190
190    191
191    192
192    193
193    194
194    195
195    196
196    197
197    198
198    199
199    200
200    201
201    202
202    203
203    204
204    205
205    206
206    207
207    208
208    209
209    210
210    211
211    212
212    213
213    214
214    215
215    216
216    217
217    218
218    219
219    220
220    221
221    222
222    223
223    224
224    225
225    226
226    227
227    228
228    229
229    230
230    231
231    232
232    233
233    234
234    235
235    236
236    237
237    238
238    239
239    240
240    241
241    242
242    243
243    244
244    245
245    246
246    247
247    248
248    249
249    250
250    251
251    252
252    253
253    254
254    255
255    256
256    257
257    258
258    259
259    260
260    261
261    262
262    263
263    264
264    265
265    266
266    267
267    268
268    269
269    270
270    271
271    272
272    273
273    274
274    275
275    276
276    277
277    278
278    279
279    280
280    281
281    282
282    283
283    284
284    285
285    286
286    287
287    288
288    289
289    290
290    291
291    292
292    293
293    294
294    295
295    296
296    297
297    298
298    299
299    300
300    301
301    302
302    303
303    304
304    305
305    306
306    307
307    308
308    309
309    310
310    311
311    312
312    313
313    314
314    315
315    316
316    317
317    318
318    319
319    320
320    321
321    322
322    323
323    324
324    325
325    326
326    327
327    328
328    329
329    330
330    331
331    332
332    333
333    334
334    335
335    336
336    337
337    338
338    339
339    340
340    341
341    342
342    343
343    344
344    345
345    346
346    347
347    348
348    349
349    350
350    351
351    352
352    353
353    354
354    355
355    356
356    357
357    358
358    359
359    360
360    361
361    362
362    363
363    364
364    365
365    366
366    367
367    368
368    369
369    370
370    371
371    372
372    373
373    374
374    375
375    376
376    377
377    378
378    379
379    380
380    381
381    382
382    383
383    384
384    385
385    386
386    387
387    388
388    389
389    390
390    391
391    392
392    393
393    394
394    395
395    396
396    397
397    398
398    399
399    400
400    401
401    402
402    403
403    404
404    405
405    406
406    407
407    408
408    409
409    410
410    411
411    412
412    413
413    414
414    415
415    416
416    417
417    418
418    419
419    420
420    421
421    422
422    423
423    424
424    425
425    426
426    427
427    428
428    429
429    430
430    431
431    432
432    433
433    434
434    435
435    436
436    437
437    438
438    439
439    440
440    441
441    442
442    443
443    444
444    445
445    446
446    447
447    448
448    449
449    450
450    451
451    452
452    453
453    454
454    455
455    456
456    457
457    458
458    459
459    460
460    461
461    462
462    463
463    464
464    465
465    466
466    467
467    468
468    469
469    470
470    471
471    472
472    473
473    474
474    475
475    476
476    477
477    478
478    479
479    480
480    481
481    482
482    483
483    484
484    485
485    486
486    487
487    488
488    489
489    490
490    491
491    492
492    493
493    494
494    495
495    496
496    497
497    498
498    498
499    500
Name: Rank, dtype: int64

In [22]:
df.loc[400]

Rank                                 401
Company Name         Lululemon athletica
Revenue ($M)                     $10,588
Assets ($M)                       $7,603
Market Value ($M)                $35,596
Name: 400, dtype: object